doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test de maquetado
        link(rel="icon", href="assets/logo.svg")
        link(rel="stylesheet", href="css/styles.css")
    body
        header#header
            .group
                .box
                    a#burger-menu(href="#")
                        img#burger-menu__icon(
                            src="assets/iconos/bars-solid.svg"
                            alt="Burger menu")
                .box
                    .logo-container
                        .logo-container__column
                        .logo-container__column
                            img.logo(
                                src="assets/logo.svg"
                                alt="La Preuve")
                        .logo-container__column
                    .header-menu
                        .header-menu__item.active
                            a.header-menu__link(href="#")
                                | Sale
                        .header-menu__item
                            a.header-menu__link(href="#")
                                | E-Shop
                        .header-menu__item
                            a.header-menu__link(href="#")
                                | Lookbook
                        .header-menu__item
                            a.header-menu__link(href="#")
                                | Campaña
                        .header-menu__item
                            a.header-menu__link(href="#")
                                | Locales
                .box
                    .actions-group
                        .actions-group__item
                            a.actions-group__item__search(href="#")
                                img.actions-group__item__search__icon(
                                    src="assets/iconos/search-solid.svg"
                                    alt="search-icon")
                        .actions-group__item
                            a.actions-group__item__user(href="#")
                                img.actions-group__item__user__icon(
                                    src="assets/iconos/user-solid.svg"
                                    alt="user-icon")
                        .actions-group__item
                            a.actions-group__item__shopping-cart(href="#")
                                img.actions-group__item__shopping-cart__icon(
                                    src="assets/iconos/shopping-cart-solid.svg"
                                    alt="shopping-cart-icon")
        
        #products-container
            section#sidebar
                .group
                    .box
                        h3.section-title Zapatillas
                    .box
                        .filters
                            h4 Filtrar
                            .filters__category
                                .filters__category__name Categoría
                                .filters__category__items-group
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Zapatillas
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Zapatos
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Botas
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Sandalias
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Pantuflas
                            .filters__category
                                .filters__category__name Talle
                                .filters__category__items-group
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | 36
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | 38
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | 40
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | 42
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | 44
                            .filters__category
                                .filters__category__name Color
                                .filters__category__items-group
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Amarillo
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Negro
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Verde
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Azul
                                    .filters__category__items-group__item
                                        a.filters__category__items-group__link(href="#")
                                            | Blanco
            section#products
                .group
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_1.jpg")
                            a.product__name(href="#")
                                | Zapatilla 1-XFK
                            h5.product__price $5000
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_2.jpg")
                            a.product__name(href="#")
                                | Zapatilla 2000-X
                            h5.product__price $9800
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_3.jpg")
                            a.product__name(href="#")
                                | Zapatilla 3 Run
                            h5.product__price $6500
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_3.jpg")
                            a.product__name(href="#")
                                | Zapatilla 3 Run
                            h5.product__price $6500
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_1.jpg")
                            a.product__name(href="#")
                                | Zapatilla 1-XFK
                            h5.product__price $5000
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_2.jpg")
                            a.product__name(href="#")
                                | Zapatilla 2000-X
                            h5.product__price $9800
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_2.jpg")
                            a.product__name(href="#")
                                | Zapatilla 2000-X
                            h5.product__price $9800
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_3.jpg")
                            a.product__name(href="#")
                                | Zapatilla 3 Run
                            h5.product__price $6500
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_1.jpg")
                            a.product__name(href="#")
                                | Zapatilla 1-XFK
                            h5.product__price $5000
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_1.jpg")
                            a.product__name(href="#")
                                | Zapatilla 1-XFK
                            h5.product__price $5000
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_2.jpg")
                            a.product__name(href="#")
                                | Zapatilla 2000-X
                            h5.product__price $9800
                    .box
                        .product
                            .product__img
                                img.product__img__file(src="assets/productos/zapatilla_3.jpg")
                            a.product__name(href="#")
                                | Zapatilla 3 Run
                            h5.product__price $6500

        footer#footer
            .group
                .box
                    .footer-menu
                        .footer-menu__item
                            a.footer-menu__link(href="#")
                                | Ayuda
                        .footer-menu__item
                            a.footer-menu__link(href="#")
                                | Contacto
                        .footer-menu__item
                            a.footer-menu__link(href="#")
                                | Términos y condiciones
                        .footer-menu__item
                            a.footer-menu__link(href="#")
                                | Políticas de privacidad